<section class="teachers">
    <div class="head ">
        <div class="img d-flex align-items-center">
            <img src="../../../assets/teachers/Ellipse 1 (Stroke).png" alt="">
            <div class="title">Ваши преподаватели</div>
        </div>
    </div>
    <div class="teachers-block d-flex justify-content-around">
        <div class="teachers-item d-flex flex-column justify-content-between align-items-center ">
            <div class="img">
                <img src="../../../assets/teachers/Ellipse 2 (1).png" alt="">
            </div>
            <div class="name">Дмитрий Иванов</div>
            <div class="job">Специалист по видеокартам</div>
            <div class="button">
                <button>Биография</button>
            </div>
        </div>
        <div class="teachers-item  d-flex flex-column justify-content-between align-items-center">
            <div class="img">
                <img src="../../../assets/teachers/Ellipse 2 (2).png" alt="">
            </div>
            <div class="name">Дмитрий Иванов</div>
            <div class="job">Специалист по видеокартам</div>
            <div class="button">
                <button>Биография</button>
            </div>
        </div>
        <div class="teachers-item  d-flex flex-column justify-content-between align-items-center">
            <div class="img">
                <img src="../../../assets/teachers/Ellipse 2.png" alt="">
            </div>
            <div class="name">Дмитрий Иванов</div>
            <div class="job">Специалист по видеокартам</div>
            <div class="button">
                <button>Биография</button>
            </div>
        </div>
    </div>
</section>