<section class="footer d-flex flex-column justify-content-between align-items-center">
    <div class="title">Статьи каждую неделю</div>
    <div class="subtitle">Больше 90% учеников прошли полный курс и смогли собрать свой первый компьютер</div>

    <div class="search">
        <input type="text" placeholder="E-mail" />
        <button>Подписаться</button>
    </div>
    <div class="social d-flex">
        <div>
            <img src="../../../assets/footer/Ellipse 3.png" alt="">
        </div>
        <div>
            <img src="../../../assets/footer/Ellipse 3.png" alt="">
        </div>
        <div>
            <img src="../../../assets/footer/Ellipse 3.png" alt="">
        </div>
        <div>
            <img src="../../../assets/footer/Ellipse 3.png" alt="">
        </div>
    </div>
</section>