<section class="partners">
    <div class="title d-flex">
        <div class="img">
            <img src="../../../assets/partners/Ellipse 1 (Stroke).png" alt="">
        </div>
        <div class="text">Партнеры - топовые бренды</div>
    </div>
    <div class="partners-logos d-flex flex-wrap justify-content-between">
        <div class="logo">
            <img src="../../../assets/partners/logo.png" alt="">
        </div>
        <div class="logo">
            <img src="../../../assets/partners/logo.png" alt="">
        </div>
        <div class="logo">
            <img src="../../../assets/partners/logo.png" alt="">
        </div>
        <div class="logo">
            <img src="../../../assets/partners/logo.png" alt="">
        </div>
        <div class="logo">
            <img src="../../../assets/partners/logo.png" alt="">
        </div>
        <div class="logo">
            <img src="../../../assets/partners/logo.png" alt="">
        </div>
        <div class="logo">
            <img src="../../../assets/partners/logo.png" alt="">
        </div>
        <div class="logo">
            <img src="../../../assets/partners/logo.png" alt="">
        </div>
    </div>
</section>