<section class='advantages '>
    <div class="title">
        <h1>Получите профессию прямо сейчас</h1>
    </div>
    <div class="content-wrapper d-flex justify-content-center align-items-center">
        <div class="content-wrapper__items d-flex justify-content-center">
            <div class="item ">
                <div>
                    <img src="../../../assets/advan/icon-2.png" alt="">
                </div>
                <div class="title">Только практические
                    навыки в работе</div>
                <div class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque
                    accumsan amet tortor. Velit, volutpat
                    egestas fringilla mi porttitor tempus. Placerat dui.</div>
            </div>
            <div class="item">
                <div>
                    <img src="../../../assets/advan/icon-2.png" alt="">
                </div>
                <div class="title">Только практические
                    навыки в работе</div>
                <div class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque
                    accumsan amet tortor. Velit, volutpat
                    egestas fringilla mi porttitor tempus. Placerat dui.</div>
            </div>
            <div class="item ">
                <div>
                    <img src="../../../assets/advan/icon-2.png" alt="">
                </div>
                <div class="title">Только практические
                    навыки в работе</div>
                <div class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Netus eget velit quisque
                    accumsan amet tortor. Velit, volutpat
                    egestas fringilla mi porttitor tempus. Placerat dui.</div>
            </div>
        </div>
    </div>
</section>