<section class="section-outher row">
    <div class="main-menu col-12 m-auto d-flex justify-content-between align-items-center p-4">
        <div class="logo col-1">
            <img src="../../../assets/images/mainScreen/logo.png" alt="">
        </div>
        <div class="col-9 ">
            <nav>
                <ul class='d-flex d-flex justify-content-end list-style-none '>
                    <li>Главная</li>
                    <li>Курсы</li>
                    <li>Расписание</li>
                    <li>Преподаватели</li>
                    <li>Рассылка</li>
                    <li>Контакты</li>
                </ul>
            </nav>
        </div>
        <div class="col-2 button d-flex justify-content-end">
            <button>Зайти в кабинет</button>
        </div>
    </div>
    <div class="main container d-flex  align-items-center">
        <div class="main-wrapper  ">
            <div class="main-wrapper__title">
                <h1>Первый курс</h1>
                <br>
                <h1>
                    по компьютерной сборке
                </h1>
            </div>
            <div class="main-wrapper__title__numbers d-flex">
                <div class="main-wrapper__title__numbers_item">
                    <p>18</p>
                    <span>Дней</span>
                </div>
                <div class="main-wrapper__title__numbers_item">
                    <p>18</p>
                    <span>Дней</span>
                </div>
                <div class="main-wrapper__title__numbers_item">
                    <p>18</p>
                    <span>Дней</span>
                </div>
                <div class="main-wrapper__title__numbers_item">
                    <p>18</p>
                    <span>Дней</span>
                </div>
            </div>
        </div>
    </div>
    <div class="main-last-line  d-flex justify-content-center">
        <div class="container row d-flex justify-content-between  align-items-center">
            <div class="col-lg-2 col-sm-12 main-last-line__button">
                <button class=" ">Заказать курс</button>
            </div>
            <div class="col-lg-3 col-sm-12 d-flex flex-column justify-content-between">
                <div class='d-flex  justify-content-between'>
                    <div>Учеников всего:</div>
                    <div>200</div>
                </div>
                <div class='d-flex justify-content-between'>
                    <div>Успешно закончили курс:</div>
                    <div>190</div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12 d-flex flex-column justify-content-between">
                <div> Заработано учениками: 400 000₽ </div>
                <div>-----------------------------------</div>
                <div class='d-flex justify-content-between'>
                    <div>0</div>
                    <div>1 000 000₽</div>
                </div>
            </div>
        </div>

    </div>
</section>