<section class="program  ">
    <div class="header d-flex flex-column justify-content-center align-items-center">
        <div class="circle">
            <img src="../../../assets/program/Ellipse 1 (Stroke).png" alt="">
        </div>
        <div class="title">Программа обучения</div>
        <div class="subtitle">Больше 90% учеников прошли полный курс и смогли собрать свой первый компьютер</div>
    </div>
    <div class="program-list d-flex flex-row justify-content-center align-items-center">
        <div class="left m-5">
            <div class="left-item">
                <div class="data">Неделя №1</div>
                <div class="text">Красивая часть курса,
                    которая помогает в успехе</div>
            </div>
            <div class="left-item">
                <div class="data">Неделя №1</div>
                <div class="text">Красивая часть курса,
                    которая помогает в успехе</div>
            </div>
            <div class="left-item">
                <div class="data">Неделя №1</div>
                <div class="text">Красивая часть курса,
                    которая помогает в успехе</div>
            </div>
            <div class="left-item">
                <div class="data">Неделя №1</div>
                <div class="text">Красивая часть курса,
                    которая помогает в успехе</div>
            </div>
        </div>
        <div class="line"></div>
        <div class="right m-5">
            <div class="right-item">
                <div class="data">Неделя №1</div>
                <div class="text">Красивая часть курса,
                    которая помогает в успехе</div>
            </div>
            <div class="right-item">
                <div class="data">Неделя №1</div>
                <div class="text">Красивая часть курса,
                    которая помогает в успехе</div>
            </div>
            <div class="right-item">
                <div class="data">Неделя №1</div>
                <div class="text">Красивая часть курса,
                    которая помогает в успехе</div>
            </div>
        </div>
    </div>
</section>